.page_top_margin
  .container{ style: 'width: 500px' }
    - # プロジェクト作成フォーム
    = form_for @project, url: projects_path, html: { class: 'form-horizontal' } do |f|
      %fieldset{ style: 'float: left;' }
        .form-group
          = f.text_field :name, class: "form-control", size: '50px'
      .form-group{ style: 'text-align: right;' }
        = f.submit '追加', data: { disable_with: '追加' }, class: 'btn btn-success'

    - # プロジェクト一覧
    - @projects.each do |project|
      .container{ style: 'width: 500px' }
        .project_name{ style: 'float: left;' }
          = project.name
        %div{ style: 'text-align: right;' }
          = link_to '編集', edit_project_path(project), class: 'btn btn-sm btn-success project_list_button'
          = link_to '削除', project, method: :delete, data: { confirm: '削除します。よろしいですか？' }, class: 'btn btn-sm btn-danger project_list_button'
