!!!
%html
  %head
    %title= Settings.app_name
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = favicon_link_tag 'favicon.ico'
    %meta{ content: "width=device-width, initial-scale=1.0", name: "viewport" }
  %body{ 'data-no-turbolink' => true }
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-header
        = link_to Settings.app_name, :root, class: 'navbar-brand'
      .navbar-collapse.collapse.navbar-responsive-collapse
        %ul.nav.navbar-nav
          - unless session[:user_id].blank?
            %li= render partial: '/layouts/user_icon', locals: { user: current_user, size: "18x18", klass: "margin_minus2" }
            %li= link_to "Project", projects_path
            %li= link_to "Posts", project_posts_path(project_id: current_user.default_project.id)
            %li= link_to "Logout", logout_path
          - else
            %li= link_to "Login", "/auth/twitter"
    .container
      .page_top_margin
        %br/
        = simple_format flash[:notice], style: "color: green;" unless flash[:notice].blank?
        = simple_format flash[:alert], style: "color: red;"    unless flash[:alert].blank?
        = yield
        %br/
        %br/
        .text-center
          Developed by
          %a{ href: "https://twitter.com/#{Settings.programmer_twitter_id}/", target: "_blank" }
            @#{Settings.programmer_twitter_id}
        %br
        %br
